/node_modules
/public/
/package-lock.json
/logs
*.bak
/.vscode
.gitignore
.gitlab-ci.yml
.prettierignore
.prettierrc
sonar-project.properties
test/integration/.nycrc
test/integration/mocha.opts
test/unit/.nycrc
test/unit/mocha.opts